@{
    ViewData["Title"] = "学生到家签到";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6 id="BusDirection"></h6>
        </div>
    </div>
    <br>
    <div id="codeArea">
        <div id="hints" hidden>
            <span>
                提醒：你可以打印出以下图片，并放到班车挡风玻璃或其他醒目位置，并提醒家长及时扫码确认学生到家。
            </span>
            <hr />
        </div>
        <div class="text-center">
            <img id="Code" class="text-center" alt="请点击生成二维码" style="border: dotted 2px black;" src="#" />
        </div>
    </div>
    <hr>

    <div class="container">
        <p>以下数据将每20秒刷新一次：</p>
        <p>本周是：@(ServerConfig.Current.IsBigWeek() ? "大周" : "小周")</p>
        <p id="TimeoutLabel">刷新时间：20</p>
        <p id="ExpNumber">班车总人数: 加载中...</p>
        <p id="AHChecked">到家确认人数: 加载中...</p>
        <p id="DirectGoHome">免接送人数: 加载中...</p>
    </div>
    <hr />
    <div class="text-center container">
        <button id="GenCode" hidden class="btn btn-md btn-success" onclick="GenCode();">生成签到二维码</button>
    </div>
</div>
<script>
    var TOut = 0;
    var BustimeoutHandle = 0;
    var CurrentBus = wbWeb.GetMgmtBus();
    if (CurrentBus.Total == CurrentBus.AHChecked + CurrentBus.DirectGoHome) {
        alert("恭喜！所有学生都确认到家了");
        $("#TimeoutLabel").text("刷新时间：全部到家，已停止刷新");
    }
    else {
        TOut = 20;
        showData();
        BustimeoutHandle = setInterval(MotherFunction, 1000);
    }

    MotherFunction();

    document.getElementById("UserID").innerHTML = "你好，" + wbWeb.CurrentUser.RealName;
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);

    function MotherFunction() {
        $("#TimeoutLabel").text("刷新时间：" + TOut);
        if (TOut === 0) {
            $("#TimeoutLabel").text("刷新时间：正在刷新");
            $("#ExpNumber").text("班车总人数: 加载中...");
            $("#AHChecked").text("到家确认人数: 加载中...");
            $("#DirectGoHome").text("免接送人数: 加载中...");
            CurrentBus = wbWeb.GetMgmtBus();
            showData();
            TOut = 20;
        }
        TOut--;
    }
    function showData() {
        //setCookie("CBusID", CurrentBus.BusID);
        $("#ExpNumber").text("班车总人数: " + CurrentBus.Total);
        $("#AHChecked").text("到家确认人数: " + CurrentBus.AHChecked);
        $("#DirectGoHome").text("免接送人数: " + CurrentBus.DirectGoHome);
        $("#BusDirection").text("我的班车: " + CurrentBus.Bus.BusName);
        $("#GenCode").removeAttr("hidden");
    }


    function GenCode() {
        $("#Code").prop("src", location.protocol + "//" + location.host + "/api/QRCode?Data=" + CurrentBus.Bus.ObjectId + ";" + wbWeb.CurrentUser.ObjectId);
        $("#GenCode").remove();
        $("#hints").removeAttr("hidden");
    }

</script>