@{
    ViewData["Title"] = "学生签到";
    string SignMode = (string)ViewData["SignMode"];
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6 id="BusDirection"></h6>
        </div>
    </div>
    <br />
    <div class="container">
        <p>以下数据将每10秒刷新一次：</p>
        <p>本周是：@(ServerConfig.Current.IsBigWeek() ? "大周" : "小周")</p>
        <p id="TimeoutLabel">刷新时间：10</p>
        @if (SignMode == "LS" || SignMode == "CD")
        {
            <p id="LSChecked">离校签到人数: 加载中...</p>
        }
        @if (SignMode == "CS" || SignMode == "CD")
        {
            <p id="CSChecked">返校签到人数: 加载中...</p>
        }
        <p id="ExpNumber">班车总人数: 加载中...</p>
    </div>
    <hr>
    <div id="Students" class="container" style="font-size: small"></div>
</div>

<script>
    {
        var SignMode = "@Html.Raw(ViewData["SignMode"])";
        var CurrentBus = wbWeb.GetMgmtBus();
        var totalStudents = wbWeb.GetStudents(CurrentBus.Bus.ObjectId, wbWeb.CurrentUser.ObjectId);
        var BustimeoutHandle = setInterval(MotherFunction, 1000);
        document.getElementById("UserID").innerHTML = "你好，" + wbWeb.CurrentUser.RealName;
        $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);

        $("#ExpNumber").text("班车总人数: " + totalStudents.Count);
        $("#BusDirection").text("我的班车: " + CurrentBus.Bus.BusName);
        $("#LSChecked").text("离校签到人数: " + CurrentBus.LSChecked);
        $("#AHChecked").text("到家确认人数: " + CurrentBus.AHChecked);
        $("#CSChecked").text("返校签到人数: " + CurrentBus.CSChecked);

        for (var i = 0; i < totalStudents.Count; i++) {
            var TMP = totalStudents.StudentList[i];
            var node = document.createElement("div");
            node.id = TMP.ObjectId;
            node.classList.add("row");
            var container = document.createElement("div");
            container.classList.add("col");
            var sub = document.createElement("span");
            sub.classList.add("text-underline")
            var _sub = document.createElement("a");
            _sub.href = "/BusManager/ViewStudent?StudentID={0}&ClassID={1}&from=BusManager&BusID={2}".format(TMP.ObjectId, TMP.ClassID, TMP.BusID);
            _sub.innerHTML = "<strong>" + TMP.StudentName + "</strong><br/><small><small>" + TMP.ObjectId + "</small></small>";
            sub.appendChild(_sub);
            container.appendChild(sub);
            node.appendChild(container);
            var sid = TMP.ObjectId;
            if (SignMode == "LS" || SignMode == "CD") {
                container = document.createElement("div");
                container.classList.add("col");
                if (TMP.TakingBus) {
                    sub = document.createElement("button");
                    sub.id = TMP.ObjectId + "_Leave";
                    sub.style.width = "100%";
                    if (TMP.LSChecked) {
                        sub.classList.add("btn", "btn-success", "btn-sm");
                        sub.innerText = "取消";
                    } else {
                        sub.classList.add("btn", "btn-danger", "btn-sm");
                        sub.innerText = "离校";
                    }
                    sub.setAttribute("onclick", "Sign('" + sid + "', 'leave', '" + !TMP.LSChecked + "')");
                } else {
                    sub = document.createElement("span");
                    sub.innerText = "本周不坐班车";
                }
                container.appendChild(sub);
                node.appendChild(container);
            }
            if (SignMode == "CS" || SignMode == "CD") {
                container = document.createElement("div");
                container.classList.add("col");
                if (TMP.TakingBus) {
                    sub = document.createElement("button");
                    sub.id = TMP.ObjectId + "_Come";
                    sub.style.width = "100%";
                    if (TMP.CSChecked) {
                        sub.classList.add("btn", "btn-success", "btn-sm");
                        sub.innerText = "取消";
                    } else {
                        sub.classList.add("btn", "btn-danger", "btn-sm");
                        sub.innerText = "返校";
                    }
                    sub.setAttribute("onclick", "Sign('" + sid + "', 'come', '" + !TMP.CSChecked + "')");
                } else {
                    sub = document.createElement("span");
                    sub.innerText = "本周不坐班车";
                }
                container.appendChild(sub);
                node.appendChild(container);
            }
            $("#Students").append(node);
            $("#Students").append("<hr/>")
        }

        var TOut = 0;
        function MotherFunction() {
            $("#TimeoutLabel").text("刷新时间：" + TOut);
            if (TOut === 0) {
                $("#TimeoutLabel").text("刷新时间：正在刷新");
                $("#LSChecked").text("离校签到人数: 加载中...");
                $("#CSChecked").text("返校签到人数: 加载中...");
                CurrentBus = wbWeb.GetMgmtBus();
                $("#LSChecked").text("离校签到人数: " + CurrentBus.LSChecked);
                $("#CSChecked").text("返校签到人数: " + CurrentBus.CSChecked);
                TOut = 10;
            }
            TOut--;
        }

        function Sign(StudentID, Mode, value)
        {
            var data = wbWeb.SignStudent(CurrentBus.Bus.ObjectId, StudentID, Mode, value);

            if (data.SignMode === "come")
            {
                var rst = data.Student.CSChecked;
                $("#" + data.Student.ObjectId + "_Come").attr("class", "btn " + (rst ? "btn-success " : "btn-danger ") + "btn-sm");
                $("#" + data.Student.ObjectId + "_Come").text(rst ? "取消" : "返校");
                $("#" + data.Student.ObjectId + "_Come").attr("onclick", "Sign('" + data.Student.ObjectId + "', 'come', '" + !rst + "')");
            }
            else if (data.SignMode === "leave")
            {
                var rst = data.Student.LSChecked;
                $("#" + data.Student.ObjectId + "_Leave").attr("class", "btn " + (rst ? "btn-success " : "btn-danger ") + "btn-sm");
                $("#" + data.Student.ObjectId + "_Leave").text(rst ? "取消" : "离校");
                $("#" + data.Student.ObjectId + "_Leave").attr("onclick", "Sign('" + data.Student.ObjectId + "', 'leave', '" + !rst + "')");
            }
        }


        function ViewStudent(StudentID)
        {
            location.href = "/BusManager/ViewStudent?StudentID=" + StudentID;
        }
    }
</script>

