@model Dictionary<string, object>;
@{
    ViewData["Title"] = "小板凳班车管理平台 - 服务状态";
}
<style>
    table.tftable {
        color: #333333;
        width: 100%;
        border-width: 1px;
        border-color: #729ea5;
        border-collapse: collapse;
    }

        table.tftable th {
            background-color: cornflowerblue;
            color: white;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
            text-align: left;
        }

        table.tftable tr {
            background-color: #ffffff;
        }

        table.tftable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
        }
</style>
<br />
<h4>小板凳班车管理平台 - 服务状态</h4>
<div class="container">
    <table class="tftable">
        <tr><th>Key</th><th>Value</th></tr>
        @foreach (var item in Model)
        {
            <tr><td>@item.Key</td><td style="color: @(item.Value.Stringify().Contains("false")? "red" : item.Value.Stringify().Contains("true")?"green":"black")">@item.Value.Stringify()</td></tr>
        }
    </table>
</div>