@{
    ViewData["Title"] = "管理员页面";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6>在这里管理小板凳平台</h6>
        </div>
    </div>
    <hr />
    <!--Some Functions are still under-developed!-->
    <div class="container">
        <label>用户管理</label>
        <div class="center-all row">
            @*<div class="col">
                    <button class="btn btn-success center-all" style="width: 100%" onclick="location.href = '/Manage/UserManage?mode=query' ">用户查询/编辑</button>
                </div>*@
            <div class="col">
                <button class="btn btn-success btn-md center-all" style="width: 100%" onclick="location.href = '/Manage/ChangeRequest?arg=manage' ">工单处理</button>
            </div>
        </div>
    </div>
    @*<br /><br />
        <div class="container">
            <label>班车数据管理</label>
            <div class="center-all row">
                <div class="col">
                    <button class="btn btn-warning center-all" style="width: 100%" onclick="location.href = '/Manage/Query?targ=bus&allowedit=true' ">班车查询/编辑</button>
                </div>
                <div class="col">
                    <button class="btn btn-warning btn-md center-all" style="width: 100%">重置签到数据</button>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="container">
        <label>生成报表</label>
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-warning center-all" style="width: 100%" onclick="reportGen('class')">按班级生成</button>
            </div>
            <div class="col">
                <button class="btn btn-warning btn-md center-all" style="width: 100%" onclick="reportGen('bus')">按班车生成</button>
            </div>
        </div>
        <br />
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-warning center-all" style="width: 100%" onclick="reportGen('all')">总表</button>
            </div>
        </div>
        <br /><br />
        <label>新纪录</label>
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-danger btn-md center-all" style="width: 100%" onclick="newWeek()">开始新一周记录</button>
            </div>
        </div>
        <script>
            function newWeek() { if (confirm("确定要开始新记录吗？ \r\n本周的记录将会被清除，请确认已经备份数据！")) alert(wbWeb.NewWeekRecord()); }
            function reportGen(scope) { alert(wbWeb.GenerateReport(scope)); }
        </script>
    </div>
    <br /><br />
    <div class="container">
        <label>消息群发</label>
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-info center-all" style="width: 100%" onclick="location.href = '/Manage/SendMessage' ">消息群发</button>
            </div>
            @*<div class="col">
                <button class="btn btn-info btn-md center-all" style="width: 100%" onclick="location.href = '/Manage/SendMessage?targ=cteachers' ">所有班主任</button>
            </div>*@
        </div>
        @*<br />
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-info btn-md center-all" style="width: 100%" onclick="location.href = '/Manage/SendMessage?targ=parents' ">所有家长</button>
            </div>
            <div class="col">
                <button class="btn btn-info center-all" style="width: 100%" onclick="location.href = '/Manage/SendMessage?targ=allusers' ">所有用户</button>
            </div>
        </div>*@<br />
        @*<div class="center-all row">
                <div class="col">
                    <button class="btn btn-info center-all" style="width: 100%" onclick="location.href = '/Manage/SendMessage?targ=list' ">其他条件筛选</button>
                </div>
            </div>*@
    </div>
</div>

<script>
    $("#UserID").text("你好，" + wbWeb.CurrentUser.RealName);
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);
</script>
