@{
    ViewData["Title"] = "管理员页面";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6>在这里管理小板凳平台</h6>
        </div>
    </div>
    <hr />
    <!--Some Functions are still under-developed!-->
    <div class="container">
        <label>用户管理</label>
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-success btn-md center-all" style="width: 100%" onclick="location.href = '/Manage/ChangeRequest?arg=manage' ">工单处理</button>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <label>设置大小周</label>
        <div class="center-all row">
            <div class="col">
                <label class="container">本周是：<label>@(XConfig.ServerConfig["WeekType"] == "big" ? "大" : "小")周</label></label>
                <button class="btn btn-info center-all" style="width: 100%" onclick="setWeekType('@(XConfig.ServerConfig["WeekType"] == "big" ? "small" : "big")')">切换为：@(XConfig.ServerConfig["WeekType"] == "big" ? "小" : "大")周</button>
            </div>
            <script>
                function setWeekType(type) {
                    if (confirm("确定要切换大小周吗？")) {
                        alert(wbWeb.SetWeekType(type));
                        location.replace(location.href);
                    }
                }
            </script>
        </div>
        <br /><br />
        <label>生成报表</label>
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-warning center-all" style="width: 100%" onclick="reportGen('class')">按班级生成</button>
            </div>
            <div class="col">
                <button class="btn btn-warning btn-md center-all" style="width: 100%" onclick="reportGen('bus')">按班车生成</button>
            </div>
        </div>
        <br />
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-warning center-all" style="width: 100%" onclick="reportGen('all')">总表</button>
            </div>
        </div>
        <br /><br />
        <label>新纪录</label>
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-danger btn-md center-all" style="width: 100%" onclick="newWeek()">开始新一周记录</button>
            </div>
        </div>
        <script>
            function newWeek() { if (confirm("确定要开始新记录吗？ \r\n本周的记录将会被清除，请确认已经备份数据！")) alert(wbWeb.NewWeekRecord()); }
            function reportGen(scope) { if (confirm("确定要生成报表吗？\r\n该操作需要一段时间！")) alert(wbWeb.GenerateReport(scope)); }
        </script>
    </div>
    <br /><br />
    <div class="container">
        <label>消息群发</label>
        <div class="center-all row">
            <div class="col">
                <button class="btn btn-info center-all" style="width: 100%" onclick="location.href = '/Manage/SendMessage' ">消息群发</button>
            </div>
        </div>
        <br />
    </div>
</div>

<script>
    $("#UserID").text("你好，" + wbWeb.CurrentUser.RealName);
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);
</script>
