@{
    ViewData["Title"] = "主页";
    UserObject _user = ViewData["_User"] as UserObject;
}
<script>
    $("#navBar01").remove();
    $("#navBar01_btn").remove();
</script>
<div class="container">
    <h5>班车小板凳管理平台</h5>
    <h6>请选择功能:</h6>
    <hr />
    <div id="ChosenAreas" class="center-margin container">
        @if (_user.IsBusManager)
        {
            <div onclick="Jummmmmmp('1')" style="display: inline-block">
                <img alt="班车管理" class="choose-square" src="~/images/bus.png" />
                <p class="text-underline" style="font-size:10pt">班车管理</p>
            </div>
        }
        @if (_user.IsClassTeacher)
        {
            <div onclick="Jummmmmmp('2');" style="display: inline-block">
                <img alt="班级管理" class="choose-square" src="~/images/class.png" />
                <p class="text-underline" style="font-size:10pt">班级管理</p>
            </div>
        }
        @if (_user.IsParent)
        {
            <div onclick="Jummmmmmp('3');" style="display: inline-block">
                <img alt="我的孩子" class="choose-square" src="~/images/child.svg" />
                <p class="text-underline" style="font-size:10pt">我的孩子</p>
            </div>
        }
        <div onclick="Jummmmmmp('4');" style="display: inline-block">
            <img alt="我的账号" class="choose-square" src="~/images/myaccount.png" />
            <p class="text-underline" style="font-size:10pt">个人中心</p>
        </div>
    </div>
</div>
<script>
    removeOtherOperations();
    function Jummmmmmp(t) {
        switch (t) {
            case '1':
                location.href = "\\BusManager\\";
                break;
            case '2':
                location.href = "\\ClassManager\\";
                break;
            case '3':
                location.href = "\\MyChild\\";
                break;
            case '4':
                location.href = "\\Account\\";
                break;
        }
    }
</script>