@{
    ViewData["Title"] = "我的班级";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6>查看班里的学生</h6>
        </div>
    </div>
    <div class="container">
        <hr />
        <p>我的班级：@ViewData["ClassName"].ToString()</p>
        <p id="totalNum">坐校车学生人数：正在加载</p>
    </div>
    <table id="StudentIDs" class="tftable">
        <thead>
            <tr>
                <th>学生姓名</th>
                <th>离校</th>
                <th>到家</th>
                <th>返校</th>
                <th>坐校车</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    function ChangeState(StudentID, ChangeTo) {
        console.log(StudentID);
        console.log(ChangeTo);
        var result = wbWeb.SetStudentState(StudentID, ChangeTo);
        console.log(result);
        $("#" + result.Student.ObjectId + "_onBusButton").checked = result.SignResult;
        //$("#" + result.Student.ObjectId + "_label").text(result.SignResult ? "坐" : "不坐");
        $("#" + result.Student.ObjectId + "_onBusButton").attr("onclick", "ChangeState('" + result.Student.ObjectId + "', " + (result.Student.TakingBus ? false : true) + ")")
    }

    document.getElementById("UserID").innerHTML = "你好，" + wbWeb.CurrentUser.RealName;
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);

    var ClassID = "@Html.Raw(ViewData["ClassID"])"
    var data = wbWeb.GetClassStudents(ClassID);

    $("#totalNum").text("坐校车学生人数：" + data.Count + "人");
    for (var i = 0; i < data.Count; i++) {
        var TMP = data.StudentList[i];
        var Came = TMP.CHChecked;
        var Leaved = TMP.LSChecked;
        var CHome = TMP.LHChecked;


        var childContainer = document.createElement("tr");
        childContainer.id = TMP.ObjectId;
        childContainer.style.background = "none";
        childContainer.style.border = "none";
        var viewStudentNode = document.createElement("td");
        viewStudentNode.classList.add("text-underline");
        viewStudentNode.innerHTML = "<a href=\"/BusManager/ViewStudent?StudentID=" + TMP.ObjectId + "&ClassID=" + TMP.ClassID + "&from=ClassManager&BusID=" + TMP.BusID + "\">" + TMP.StudentName + "<br/><small>" + TMP.ObjectId + "</small></a>";
        childContainer.appendChild(viewStudentNode);

        var child = document.createElement("td");
        child.innerText = (Leaved ? "✔" : " ❌");
        childContainer.appendChild(child);

        child = document.createElement("td");
        child.innerText = (CHome ? "✔" : " ❌");
        childContainer.appendChild(child);

        child = document.createElement("td");
        child.innerText = (Came ? "✔" : " ❌");
        childContainer.appendChild(child);

        child = document.createElement("td");
        var btn = document.createElement("div");
        btn.classList.add("pretty", "success", "circle");
        btn.innerHTML = '<input type="checkbox"><label><i class="mdi mdi-check"></i></label>';
        var attr = document.createAttribute("onclick");
        attr.value = "ChangeState('" + TMP.ObjectId + "', " + (TMP.TakingBus ? false : true) + ")";
        btn.attributes.setNamedItem(attr)
        //btn.innerText = TMP.TakingBus ? "坐" : "不坐";
        btn.id = TMP.ObjectId + "_onBusButton";
        child.appendChild(btn);
        childContainer.appendChild(child);

        $("#StudentIDs").append(childContainer);
        $("#StudentIDs").append(document.createElement("tr"));
        $("#" + TMP.ObjectId + "_onBusButton").children()[0].checked = TMP.TakingBus;
    }
</script>
