@{
    ViewData["Title"] = "我的孩子";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6>你的孩子们都在这里了</h6>
        </div>
    </div>
    <hr />
    <div class="container">
        <h6>坐校车总人数：<span id="totalNum">正在加载</span></h6>
        <small>提示：点击姓名可以查看详细信息</small>

        <div id="StudentIDs" style="font-size:small">
            <div class="row">
                <div class="col">孩子姓名</div>
                <div class="col">离校</div>
                <div class="col">到家</div>
                <div class="col">返校</div>
            </div>
            <hr />
        </div>
        <br />
        <div id="bottoms" style="text-align: right">
            <button class="btn btn-success btn-sm" onclick="alert('请在小板凳入口菜单处选择扫码确认到家。')">扫码确认到家</button>
        </div>
    </div>
</div>
<script>
    document.getElementById("UserID").innerHTML = "你好，" + wbWeb.CurrentUser.RealName;
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);

    var data = wbWeb.GetMyChild();
    $("#totalNum").text(data.Count + "人");
    for (var i = 0; i < data.Count; i++) {
        var TMP = data.StudentList[i];
        var Came = TMP.CHChecked;
        var Leaved = TMP.LSChecked;
        var CHome = TMP.LHChecked;
        var fff =
            "<div id='" + TMP.ObjectId + "' class=\"row\">" +
            "<div class=\"col text-underline\">" + "<a href=\"/BusManager/ViewStudent?StudentID=" + TMP.ObjectId + "&ClassID=" + TMP.ClassID + "&from=ClassManager&BusID=" + TMP.BusID + "\">" + TMP.StudentName + "</a></div>" +
            "<div class=\"col\"\">" + (Leaved ? "完成😊" : "&nbsp;❌") + "</div>" +
            "<div class=\"col\">" + (CHome ? "完成😊" : "&nbsp;❌") + "</div>" +
            "<div class=\"col\">" + (Came ? "完成😊" : "&nbsp;❌") + "</div>";
        $("#StudentIDs").append(fff);
        $("#StudentIDs").append("<br />");
    }
</script>
