@{
    ViewData["Title"] = "我的孩子";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6>你的孩子们都在这里了</h6>
        </div>
    </div>
    <hr />
    <div class="container">
        <label>免接送设置：</label>
        <button class="btn btn-success btn-sm" onclick="location.href = '/MyChild/DirectGoHome'">设置免接送</button>
        <hr />
        <label>学生大小周设置：</label>
        <button class="btn btn-success btn-sm" onclick="location.href = '/MyChild/WeekType'">设置大小周</button>
        <hr />
        <p>本周是：@(XConfig.ServerConfig["WeekType"] == "big" ? "大周" : "小周")</p>
        <h6>坐班车总人数：<span id="totalNum">正在加载</span></h6>
        <h6>提示：点击姓名可以查看详细信息</h6>

        <table id="StudentIDs" class="tftable" style="text-align: center">
            <thead>
                <tr>
                    <th>学生姓名</th>
                    <th>离校</th>
                    <th>到家</th>
                    <th>返校</th>
                    <th>坐班车</th>
                </tr>
            </thead>
        </table>
        <br />
        <div id="bottoms" style="text-align: right">
            <button class="btn btn-success btn-sm" onclick="alert('请在小板凳入口菜单处选择扫码确认到家。')">扫码确认到家</button>
        </div>
    </div>
</div>
<script>
    function ChangeState(StudentID, ChangeTo) {
        console.log(StudentID);
        console.log(ChangeTo);
        var result = wbWeb.SetStudentState(StudentID, ChangeTo);
        console.log(result);
        $("#" + result.Student.ObjectId + "_onBusButton").checked = result.SignResult;
        $("#" + result.Student.ObjectId + "_onBusButton").attr("onclick", "ChangeState('" + result.Student.ObjectId + "', " + (result.Student.TakingBus ? false : true) + ")")
    }
    document.getElementById("UserID").innerHTML = "你好，" + wbWeb.CurrentUser.RealName;
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);

    var data = wbWeb.GetMyChild();
    $("#totalNum").text(data.Count + "人");
    for (var i = 0; i < data.Count; i++) {
        var TMP = data.StudentList[i];
        var Came = TMP.CSChecked;
        var Leaved = TMP.LSChecked;
        var CHome = TMP.AHChecked;


        var childContainer = document.createElement("tr");
        childContainer.id = TMP.ObjectId;
        childContainer.style.background = "none";
        childContainer.style.border = "none";
        var viewStudentNode = document.createElement("td");
        viewStudentNode.classList.add("text-underline");
        viewStudentNode.style.textAlign = "left";
        viewStudentNode.innerHTML = "<a href=\"/BusManager/ViewStudent?StudentID=" + TMP.ObjectId + "&ClassID=" + TMP.ClassID + "&from=MyChild&BusID=" + TMP.BusID + "\">" + TMP.StudentName + "<br/><small>" + TMP.ObjectId + "</small></a>";
        childContainer.appendChild(viewStudentNode);

        var child = document.createElement("td");
        child.innerText = (Leaved ? "✔" : " ❌");
        childContainer.appendChild(child);

        child = document.createElement("td");
        child.innerText = (CHome ? "✔" : " ❌");
        childContainer.appendChild(child);

        child = document.createElement("td");
        child.innerText = (Came ? "✔" : " ❌");
        childContainer.appendChild(child);

        child = document.createElement("td");
        var btn = document.createElement("div");
        btn.classList.add("pretty", "success", "circle");
        btn.innerHTML = '<input type="checkbox"><label><i class="mdi mdi-check"></i></label>';
        var attr = document.createAttribute("onclick");
        attr.value = "ChangeState('" + TMP.ObjectId + "', " + (!TMP) + ")";
        btn.attributes.setNamedItem(attr);
        btn.id = TMP.ObjectId + "_onBusButton";
        child.appendChild(btn);
        childContainer.appendChild(child);

        $("#StudentIDs").append(childContainer);
        $("#StudentIDs").append(document.createElement("tr"));
        $("#" + TMP.ObjectId + "_onBusButton").children()[0].checked = TMP.TakingBus;
    }
</script>
