@{
    ViewData["Title"] = "学生到家签到";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6>孩子到家了？</h6>
        </div>
    </div>
    <div class="container">
        <hr />
        <p>需要确认签到的学生(们)：</p>
        <div class="container">
            <div id="StudentIDs" style="font-size:small"></div>
        </div>
        <hr />
    </div>
    <button id="closeme" hidden class="btn btn-success center-all" style="width:70%;" onclick="location.href = '/'">回到主页</button>
    <div id="Signing" class="center-margin">
        <p>点击按钮，会标记以上学生为“已到家”状态</p>
        <button class="btn btn-success center-all" style="width:70%;" onclick="SignAllAsArrived();">确认到家</button>
    </div>
</div>

@for (int i = 0; i < (int)ViewData["ChildCount"]; i++)
{
    <script>{ var ChildNum_@i.ToString() = @Html.Raw((string)ViewData["ChildNum_" + i]); }</script>
}

<script>
    var ChildCount = @Html.Raw(ViewData["ChildCount"]);
    document.getElementById("UserID").innerHTML = "你好，" + wbWeb.CurrentUser.RealName;
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + wbWeb.CurrentUser.HeadImagePath);
    var ChildIDs = "";

    for (var i = 0; i < ChildCount; i++) {
        $("#StudentIDs").append("<h3 id=\"" + eval("ChildNum_" + i).ObjectId + "\">" + eval("ChildNum_" + i).StudentName + "</h3>");
        ChildIDs = ChildIDs + eval("ChildNum_" + i).ObjectId + ";";
    }
    if (ChildCount == 0) {
        $("#StudentIDs").append("<br />");
        $("#StudentIDs").append("<h5>唔。。</h5>");
        $("#StudentIDs").append("<h6>看起来你所有的孩子都已经签到了呢</h6>");
        $("#StudentIDs").append("<h6>或者就是这车上没有你的孩子</h6>");
        $("#Signing").remove();
        $("#closeme").removeClass("hidden");
    }

    function SignAllAsArrived() {
        var StudentsSplit = ChildIDs.split(";");
        $.each(StudentsSplit, (index, value, value2) => {
            if (value !== "") {
                var signResult = wbWeb.SignStudent("@ViewData["cBusID"]", value, "pleave", true);
                if (signResult.Student != undefined) {
                    $("#" + signResult.Student.ObjectId).addClass("text-success");
                    $("#" + signResult.Student.ObjectId).text($("#" + signResult.Student.ObjectId).text() + " √");
                }
                else {
                    $("#" + signResult.Student.ObjectId).addClass("text-danger");
                    $("#" + signResult.Student.ObjectId).text($("#" + signResult.Student.ObjectId).text() + " ×\r\n" + signResult.ErrMessage);
                }
            }
        });
    }
</script>